In [30]:
#import dependencies
import pandas as pd
import numpy as py
import os
import sys
import glob
import warnings
import pymysql
pymysql.install_as_MySQLdb()
from bs4 import BeautifulSoup
import requests


import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [31]:
kaggle_list = []
path = 'DataFiles/*.csv'

for fname in glob.glob(path):
    kaggle_list.append(fname)

kaggle_list

['DataFiles\\Cities.csv',
 'DataFiles\\Conferences.csv',
 'DataFiles\\ConferenceTourneyGames.csv',
 'DataFiles\\GameCities.csv',
 'DataFiles\\NCAATourneyCompactResults.csv',
 'DataFiles\\NCAATourneyDetailedResults.csv',
 'DataFiles\\NCAATourneySeedRoundSlots.csv',
 'DataFiles\\NCAATourneySeeds.csv',
 'DataFiles\\NCAATourneySlots.csv',
 'DataFiles\\RegularSeasonCompactResults.csv',
 'DataFiles\\RegularSeasonDetailedResults.csv',
 'DataFiles\\Seasons.csv',
 'DataFiles\\SecondaryTourneyCompactResults.csv',
 'DataFiles\\SecondaryTourneyTeams.csv',
 'DataFiles\\TeamCoaches.csv',
 'DataFiles\\TeamConferences.csv',
 'DataFiles\\Teams.csv',
 'DataFiles\\TeamSpellings.csv']

In [32]:
kaggle_dict = {}

for file in kaggle_list:
    kaggle_dict[os.path.splitext(os.path.basename(file))[0]] = pd.DataFrame(pd.read_csv(file, sep=",", encoding='cp1252'))

In [33]:
engine = create_engine('mysql+pymysql://root:Swoosh!4@localhost')
engine.execute('CREATE DATABASE IF NOT EXISTS ncaa_etl_db' )
engine.execute("USE ncaa_etl_db")

C:\Users\jgross\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1007, "Can't create database 'ncaa_etl_db'; database exists")
  result = self._query(query)

In [34]:
for key, value in kaggle_dict.items():
    try:
        value.to_sql(key, engine, if_exists = 'replace', index = False)
    except ValueError:
        pass
    except AttributeError:
        pass

In [35]:
Base = automap_base()
try:
    Base.prepare(engine, reflect = True)
except AttributeError:
    pass

In [36]:
inspector = inspect(engine)
columns = inspector.get_columns('seasons')
for c in columns:
    print(c['name'], c["type"])

index BIGINT(20)
Season BIGINT(20)
DayZero TEXT
RegionW TEXT
RegionX TEXT
RegionY TEXT
RegionZ TEXT

In [37]:
# response = requests.get(url)
# soup = BeautifulSoup(response.text, 'html.parser')

# print(soup.prettify())

# team_header = soup.find('th', class_='next_left')
# link = team_header.a['href']
# print(link)

In [47]:
url = 'https://kenpom.com/index.php?y=2018'

In [86]:
stats_list = pd.read_html(url)
stats_df = stats_list[0]
stats_df.columns = stats_df.columns.droplevel(0)

In [87]:
og_col_list = stats_df.columns.tolist()
new_col_list = ['rk', 'team', 'conf', 'w-l', 'adjEM', 'adjO', 'adjO_r', 'adjD', 'adjD_r', 'adjT', 'adjT_r',
                'luck', 'luck_r', 'adjEM', 'adjEM_r', 'oppO', 'oppO_r', 'oppD', 'oppD_r', 'ncsos_adjEM', 
                 'ncsos_adjEM_r']

column_dict = dict(zip(og_col_list, new_col_list))
column_dict

{'Rk': 'rk',
 'Team': 'team',
 'Conf': 'conf',
 'W-L': 'w-l',
 'AdjEM': 'luck_r',
 'AdjO': 'adjO',
 'AdjD': 'adjO_r',
 'AdjT': 'adjD',
 'Luck': 'adjD_r',
 'OppO': 'adjT_r',
 'OppD': 'luck',
 'Unnamed: 13_level_1': 'adjEM',
 'Unnamed: 14_level_1': 'adjEM_r',
 'Unnamed: 15_level_1': 'oppO',
 'Unnamed: 16_level_1': 'oppO_r',
 'Unnamed: 17_level_1': 'oppD',
 'Unnamed: 18_level_1': 'oppD_r',
 'Unnamed: 19_level_1': 'ncsos_adjEM',
 'Unnamed: 20_level_1': 'ncsos_adjEM_r'}

In [96]:
stats_df = stats_df.rename(index = str, columns = column_dict)
# stats_df.columns
stats_df.head()

,rk,team,conf,w-l,luck_r,adjO,adjO_r,adjD,adjD_r,luck_r,...,luck,luck_r,adjEM,adjEM_r,oppO,oppO_r,oppD,oppD_r,ncsos_adjEM,ncsos_adjEM_r
0,1,Villanova 1,BE,36-4,+33.76,127.8,1,94.0,11,68.7,...,-.018,225,11.31,6.0,111.3,10.0,100.0,12.0,3.98,61.0
1,2,Virginia 1,ACC,31-3,+29.53,115.2,30,85.6,1,59.4,...,+.048,66,9.24,37.0,110.0,33.0,100.7,33.0,-0.08,158.0
2,3,Duke 2,ACC,29-8,+28.86,122.4,3,93.6,9,69.7,...,-.034,271,10.60,15.0,110.4,30.0,99.8,10.0,4.09,58.0
3,4,Cincinnati 2,Amer,31-5,+26.60,113.4,49,86.8,2,64.5,...,-.019,230,3.46,87.0,106.9,89.0,103.4,90.0,-4.21,294.0
4,5,Purdue 2,B10,30-7,+26.27,122.7,2,96.4,31,67.2,...,+.006,163,9.02,41.0,109.1,51.0,100.1,14.0,0.69,144.0