In [44]:
#import dependencies
import pandas as pd
import numpy as np
import os
import sys
import glob
import warnings
import pymysql
pymysql.install_as_MySQLdb()
from bs4 import BeautifulSoup
import requests
from collections import OrderedDict


import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [3]:
kaggle_list = []
path = 'DataFiles/*.csv'

for fname in glob.glob(path):
    kaggle_list.append(fname)

kaggle_list

['DataFiles\\Cities.csv',
 'DataFiles\\Conferences.csv',
 'DataFiles\\ConferenceTourneyGames.csv',
 'DataFiles\\GameCities.csv',
 'DataFiles\\NCAATourneyCompactResults.csv',
 'DataFiles\\NCAATourneyDetailedResults.csv',
 'DataFiles\\NCAATourneySeedRoundSlots.csv',
 'DataFiles\\NCAATourneySeeds.csv',
 'DataFiles\\NCAATourneySlots.csv',
 'DataFiles\\RegularSeasonCompactResults.csv',
 'DataFiles\\RegularSeasonDetailedResults.csv',
 'DataFiles\\Seasons.csv',
 'DataFiles\\SecondaryTourneyCompactResults.csv',
 'DataFiles\\SecondaryTourneyTeams.csv',
 'DataFiles\\TeamCoaches.csv',
 'DataFiles\\TeamConferences.csv',
 'DataFiles\\Teams.csv',
 'DataFiles\\TeamSpellings.csv']

In [4]:
kaggle_dict = {}

for file in kaggle_list:
    kaggle_dict[os.path.splitext(os.path.basename(file))[0]] = pd.DataFrame(pd.read_csv(file, sep=",", encoding='cp1252'))

In [5]:
engine = create_engine('mysql+pymysql://root:Swoosh!4@localhost')
engine.execute('CREATE DATABASE IF NOT EXISTS ncaa_etl_db' )
engine.execute("USE ncaa_etl_db")

C:\Users\jgross\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1007, "Can't create database 'ncaa_etl_db'; database exists")
  result = self._query(query)

In [6]:
for key, value in kaggle_dict.items():
    try:
        value.to_sql(key, engine, if_exists = 'replace', index = False)
    except ValueError:
        pass
    except AttributeError:
        pass

In [7]:
# Base = automap_base()
# try:
#     Base.prepare(engine, reflect = True)
# except AttributeError:
#     pass

In [8]:
# inspector = inspect(engine)
# columns = inspector.get_columns('seasons')
# for c in columns:
#     print(c['name'], c["type"])

In [9]:
# response = requests.get(url)
# soup = BeautifulSoup(response.text, 'html.parser')

# print(soup.prettify())

# team_header = soup.find('th', class_='next_left')
# link = team_header.a['href']
# print(link)

In [41]:
url = 'https://kenpom.com/index.php?y=2018'

In [65]:
stats_list = pd.read_html(url)
stats_df = stats_list[0]
stats_df.columns = stats_df.columns.droplevel(0)
del stats_df.columns.name
stats_df.columns = ['rk', 'team', 'conf', 'w-l', 'adjEM', 'adjO', 'adjO_r', 'adjD', 'adjD_r', 'adjT', 'adjT_r','luck', 'luck_r', 'oppEM', 'oppEM_r', 'oppO', 'oppO_r', 'oppD', 'oppD_r', 'ncsos_adjEM', 'ncsos_adjEM_r']

In [66]:
# stats_df['ncsos_adjEM_r'].replace('', np.nan, inplace=True)
stats_df_clean = stats_df.dropna(axis = 0, how = 'any')
stats_df_clean.head()

,rk,team,conf,w-l,adjEM,adjO,adjO_r,adjD,adjD_r,adjT,...,luck,luck_r,oppEM,oppEM_r,oppO,oppO_r,oppD,oppD_r,ncsos_adjEM,ncsos_adjEM_r
0,1,Villanova 1,BE,36-4,+33.76,127.8,1,94.0,11,68.7,...,-.018,225,11.31,6.0,111.3,10.0,100.0,12.0,3.98,61.0
1,2,Virginia 1,ACC,31-3,+29.53,115.2,30,85.6,1,59.4,...,+.048,66,9.24,37.0,110.0,33.0,100.7,33.0,-0.08,158.0
2,3,Duke 2,ACC,29-8,+28.86,122.4,3,93.6,9,69.7,...,-.034,271,10.60,15.0,110.4,30.0,99.8,10.0,4.09,58.0
3,4,Cincinnati 2,Amer,31-5,+26.60,113.4,49,86.8,2,64.5,...,-.019,230,3.46,87.0,106.9,89.0,103.4,90.0,-4.21,294.0
4,5,Purdue 2,B10,30-7,+26.27,122.7,2,96.4,31,67.2,...,+.006,163,9.02,41.0,109.1,51.0,100.1,14.0,0.69,144.0

In [69]:
stats_df_clean['team'] = stats_df_clean['team'].str.replace('\d+', '')
stats_df_clean.head()

C:\Users\jgross\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,rk,team,conf,w-l,adjEM,adjO,adjO_r,adjD,adjD_r,adjT,...,luck,luck_r,oppEM,oppEM_r,oppO,oppO_r,oppD,oppD_r,ncsos_adjEM,ncsos_adjEM_r
0,1,Villanova,BE,36-4,+33.76,127.8,1,94.0,11,68.7,...,-.018,225,11.31,6.0,111.3,10.0,100.0,12.0,3.98,61.0
1,2,Virginia,ACC,31-3,+29.53,115.2,30,85.6,1,59.4,...,+.048,66,9.24,37.0,110.0,33.0,100.7,33.0,-0.08,158.0
2,3,Duke,ACC,29-8,+28.86,122.4,3,93.6,9,69.7,...,-.034,271,10.60,15.0,110.4,30.0,99.8,10.0,4.09,58.0
3,4,Cincinnati,Amer,31-5,+26.60,113.4,49,86.8,2,64.5,...,-.019,230,3.46,87.0,106.9,89.0,103.4,90.0,-4.21,294.0
4,5,Purdue,B10,30-7,+26.27,122.7,2,96.4,31,67.2,...,+.006,163,9.02,41.0,109.1,51.0,100.1,14.0,0.69,144.0

In [70]:
# stats_df_clean['team'] = stats_df['team'].str.rsplit(' ', n = 1)

# stats_df_clean.to_csv('test.csv')